@font-face {
font-family: 'modernFont-regular';
font-style: normal;
font-weight: normal;
src: local('Poppins Regular'), url('Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'modernFont-bold';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modernFont-semibold';
    src: url('poppins-semibold-webfont.woff2') format('woff2'),
         url('poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modernFont-medium';
    src: url('Poppins-Medium.woff2') format('woff2'),
         url('Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 60px;
  margin: 0;
  background-color: #020425;
}

#title {
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: #020425;
  color: black;
  font-family: "modernFont-Bold", system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  letter-spacing: -2px;
  position: fixed;
  z-index: 2;
  padding: 10px 0px 0;
  top: 0;
  left: 0;
  margin: 0;
  color: #FFDC64;
  text-decoration: none;
}

.infoIcon {
  opacity: 0.5;
}

#spacer {
  width: 80%;
  opacity: 0;
  margin: auto;
  margin-bottom: 2%;
  border-radius: 12px;
  margin-top: 112px;
}

#fatheen-nizam-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#image-caption {
  width: 100%;
  text-align: center;
  letter-spacing: -0.5px;
  font-family: 'modernFont-medium', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: white;
  opacity: 0.5;
  font-size: 0.4em;
  margin: auto;
  z-index; 1;
}

#header {
  width: 100%;
  padding-bottom: 16px;
  text-align: center;
  font-family: 'modernFont-semibold', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #222;
  font-size: 0.6em;
  margin: auto;
  z-index; 1;
  letter-spacing: -1px;
}

#header2 {
  font-family: 'modernFont-regular', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  color: grey;
  margin: 14px;
}

#announcement-container {
  font-family: 'modernFont-regular', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(255,0,0,0.1);
  text-align: center;
  max-width: 660px;
  margin: auto;
  border-radius: 12px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: inherit;
}
#announcement-icon {
  font-size: 30px;
  color: rgb(255,59,48);
  opacity: 1;
  padding-top: 26px;
  display: block;
}
#announcement-header {
  font-size: 24px;
  color: black;
  text-align: center;
  line-height: 24px;
  padding-top: 32px;
  display: block;
}
#preorder-link {
  font-size: 20px;
  font-family: 'modernFont-semibold', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: white;
  background-color: rgba(255,59,48,1);
  padding: 8px 20px 4px 20px;
  text-decoration: none;
  border-radius: 60px;
  transition: box-shadow 150ms;
}
#preorder-link:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.infoIcon2 {
  font-size: 24px;
}

#release-date {
  color: #FF3B30;
  font-family: 'modernFont-semibold', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#content-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  background-color: white;
  border-top: 1.5px solid rgba(255,255,255,0.1);
  border-bottom: 1.5px solid rgba(255,255,255,0.1);
}

.songCard {
  margin: auto;
  margin-bottom: 22px;
  padding-bottom: 24px;
  width: 660px;
  max-width: calc(100% - 16px);
  height: 246px;
  background-color: transparent;
  border-radius: 20px;
  animation-delay: 75ms;
  box-sizing: border-box;
}

.beatCard {
  height: 140px;
}

#social-icon-wrapper {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  animation-delay: 200ms;
  z-index: 0;
}

.social-icon {
  color: #FFF;
  font-size: 30px;
  opacity: 0.5;
  text-align: center;
  transition: 200ms;
  margin: 12px;
}

.social-icon:hover {
  opacity: 0.6;
  transition: 200ms;
}

#appleMusic {
  font-size: 34px;
}

a {
  color: inherit;
}

::selection {
    color: #020425;
    background: #FFDC64;
}

/* MOBILE OPTIMIZATION */
@media(max-width: 600px) {
  body {
    font-size: 2.3em;
    font-size: 10vw;
    margin: 0;
    padding: 0;
  }
  #title {
    line-height: 78px;
    height: 76px;
  }
  #bar {
    margin-top: 76px;
    margin-bottom: 24px;
  }
  img {
    height: 180px;
    width: 180px;
  }
  #announcement-container {
    max-width: calc(100% - 56px);

  }
  #announcement-icon {
    font-size: 6vw;
  }
  #announcement-header {
    font-size: 5vw;
  }
  #preorder-link {
    font-size: 4.2vw;
  }
  .songCard {
    max-width: calc(100% - 56px);
  }
  #header2 {
    font-size: 16px;
  }
  #button {
    font-size: 0.3em;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    #content-wrapper {
      background-color: black;
    }
    #header {
      color: #EEE;
    }
    #announcement-container {
      background-color: rgba(255,0,0,0.12);
    }
    #announcement-header {
      color: white;
    }
    #preorder-link:hover {
      background-color: rgba(235,39,38,1);
    }
    .social-icon {
      color: white;
    }
    ::selection {
        color: white;
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(160px);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
