@font-face {
    font-family: 'robotoblack';
    src: url('Roboto-Black-webfont.eot');
    src: url('Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Black-webfont.woff2') format('woff2'),
         url('Roboto-Black-webfont.woff') format('woff'),
         url('Roboto-Black-webfont.ttf') format('truetype'),
         url('Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #020425;
}

#coming-soon-wrapper {
  text-align: center;
}

#coming-soon-wrapper p {
  font-family: robotoblack;
  color: #FFDC64;
  font-size: 10vw;
  transition: 250ms;
  margin: auto;
}

#demo {
  font-family: robotoregular;
  font-size: 3vw;
  animation: fadein 2s;
  animation-delay: 1s;
  text-align: center;
  padding-top: 80px;
  transition: 250ms;
}

@media (max-width: 500px) {
  #coming-soon-wrapper p {
    font-size: 14vw;
  }
  #demo {
    font-size: 7vw;
    padding-top: 50px;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFEEB2;
    }
    #coming-soon-wrapper p {
      color: #1E2096;
    }
    #demo {
      color: #666;
    }
}

@keyframes fadein {
    0% { opacity: 0;
    }
    100% { opacity: 1;
    }
}

p {
  color: #CCC;
  margin: auto;
  margin-top: 120px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
